if sidebar is bottom
  @import "sidebar-bottom"
else
  @import "sidebar-aside"

.widget
  @extend $base-style
  line-height: line-height
  word-wrap: break-word
  font-size: 0.9em
  ul, ol
    list-style: none
    margin: 0
    ul, ol
      margin: 0 20px
    ul
      list-style: disc
    ol
      list-style: decimal
  .archive-list
    display: flex
    flex-wrap: wrap
    position: relative
    &:before
      content: ''
      position: absolute
      right: 0
      top: 0
      transform: translateY(-15px) translateY(-100%)
      width: 50px
      height: 50px
      background: url('/images/xh/额.gif') no-repeat
      background-size: 100% auto
      z-index -1
    .archive-list-item
      background-color #f0f0f0
      padding: 2px 6px
      margin-right: 6px
      position: relative
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px
      cursor pointer
      &:hover
        transform: rotate(6deg)
      .archive-list-count
        position absolute
        right: 0
        top: 0
        transform: translate(50%,-50%)
        border-radius: 6px
        display: flex
        justify-content: center
        align-items: center
        box-sizing: border-box
        color: #0094ff
        font-size: 12px
        text-align: center
        &:before,&::after
          display: none
  .tag-list
    display: flex
    flex-wrap: wrap
    position: relative
    &:before
      content: ''
      position: absolute
      right: 0
      top: 0
      transform: translateY(-15px) translateY(-100%)
      width: 50px
      height: 50px
      background: url('/images/xh/呃.gif') no-repeat
      background-size: 100% auto
      z-index -1
    .tag-list-item
      background-color #f0f0f0
      padding: 2px 6px
      margin-right: 6px
      position: relative
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px
      cursor pointer
      &:hover
        transform: rotate(6deg)
      .tag-list-count
        position absolute
        right: 0
        top: 0
        transform: translate(50%,-50%)
        border-radius: 6px
        display: flex
        justify-content: center
        align-items: center
        box-sizing: border-box
        color: #0094ff
        font-size: 12px
        text-align: center
        &:before,&::after
          display: none


.category-list-count
.tag-list-count
.archive-list-count
  padding-left: 5px
  color: color-grey
  font-size: 0.85em
  &:before
    content: "("
  &:after
    content: ")"

.tagcloud
  a
    margin-right: 5px
    display: inline-block
