#sidebar
  width:sidebar-width
  height:100%
  box-sizing:border-box
  padding:0 20px
  position:fixed
  left:0
  top:0
  overflow-y: overlay
  overflow-x:hidden
  background-color:#fff
  box-shadow: 1px 2px 3px #ddd
  z-index 9
  &::-webkit-scrollbar 
    width: 0
    height: 0
  .widget-wrap
    .widget
      position: relative
      &:before
        content: ''
        position: absolute
        right: 0
        top: 0
        transform: translate(-15px, 15px) translateY(-100%)
        width: 50px
        height: 50px
        background-repeat: no-repeat
        background-size: 100% auto
    &:nth-child(2)
       .widget
         &:before
           background-image: url('/images/xh/eat.gif')
    &:nth-child(3)
       .widget
         &:before
           background-image: url('/images/xh/呃.gif')
    &:nth-child(4)
       .widget
         &:before
           background-image: url('/images/xh/sq.gif')


@keyframes sty {
  0%{
    transform: translate(0,0) rotate(0deg)
    }
  100%{
    transform: translate(0,0) rotate(-720deg)
    }
}

.widget-wrap
  margin: block-margin 0
#user
  margin:50px 0
  .face
    display:flex
    justify-content:center
    position relative
    &::before
      content: ''
      width: 200%
      height: 100vw
      background-color #0094ff
      position: absolute
      left: 50%
      top: 50%
      transform: translateX(-50%) rotate(170deg)
      transform-origin: 50% top
      z-index -1
    .face_img
      width:100px
      height:100px
      background: url(face-url) center
      background-size:134% auto
      border-radius:50%
      &:hover
        animation: sty 1000ms linear 0ms infinite
    &::after
        content: ''
        width:100vw
        height: 4px
        position: absolute
        bottom: 0
        left: 50%
        background-color #0003
        z-index -1
        transform: rotate(-10deg)
        transform-origin: left top
        transition: width 300ms

        
  .name
    padding:20px 0
    text-align:center
    font-size:22px
    font-weight:700
  .menu-link
    display:flex
    justify-content:center
    .menu-link-item
      padding:0 20px
      color:color-link
      text-decoration:none
      &:hover
        text-decoration:underline
       

.widget-title
  @extend $block-caption

.widget
  color: color-sidebar-text
  text-shadow: 0 1px #fff
  background: color-widget-background
  box-shadow: 0 -1px 4px color-widget-border inset
  border: 1px solid color-widget-border
  padding: 15px
  border-radius: 3px
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc